$color-primary: #0a0a0a;
$color-additional: #474343;
$color-background-light: #FFEEE1;
$color-background: #ffbd8c;
$color-text: #000;
$color-heading: #959595;
$color-border: #D7D7D7;
$color-hovered: #BCD0E5;
$color-light: #ffffff;
$color-hamburger: #173A56;



$content-width: 1200px;
$tablet-width-lg: 950px;
$tablet-width: 768px;
$mobile-big-width: 610px;
$mobile-small-width: 320px;