.logo {
    display: flex;
    text-decoration: none;
    color: $color-heading;
    align-items: center;

    img {
        width: 70px;
        height: auto;
    }

    &-title {
       padding-left: 10px;
        span {
            display: block;
            font-size: 1.2rem;
            line-height: 2.1rem;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    &:hover,
    &:active {
        color: $color-heading;
    }
}